/*img {max-width: 100%;}*/
div {max-width: 100%;}
iframe {max-width: 100%;}

.picture {
    border-radius: 20px;
}

body {
    background-color: white;
}

#logotitle {
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title {
    color: black;
    font-family: Averta;
    font-size: 58px;
}

#logo {
    margin-right: 8px;
}

@font-face {
    font-family: Averta;
    src: url(fonts/AvertaDemoPE-Regular.otf)
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 30px;

    position: relative;
}

nav a {
    color: black;
    font-family: Averta;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: grey;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: grey;

    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#present::before {
    content: '';
    display: block;
    height: 5px;
    background-color: grey;

    color: grey;

    top: 0;
    width: 100%;
}

/* ETUSIVU */

#homebody {
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text_pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#texts {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 5px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 15px;

    height: 400px;
    width: 450px;

    border-radius: 20px;
}

#homepic {
    margin-top: 5px;
    border-radius: 20px;
}

#bio {
    font-family: Averta;
    margin-bottom: 0;
}

#members {
    font-family: Averta;
    margin-top: auto;
    margin-bottom: 10;
}

#fb_pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#homepic2 {
    margin-top: 5px;
    border-radius: 20px;
}

#fb {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 20px;
}

/* MUSIIKKI */

#musicbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 26px;
}

.song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 740px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.album_cover {
    border-radius: 10px;
}

.txt_lyric_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5;
}

.song_name {
    font-family: Averta;
    font-size: 25;
    margin-left: 5;
    margin-bottom: 5;
}

.song_year {
    font-family: Averta;
    font-size: 15;
    margin-left: 5;
}

.dropdown_lyric_button {
    background-color: #755a10;
    font-family: Averta;
    width: 250px;
    font-size: 15;
    border: 1;
    border-radius: 5px;
    margin-top: auto;
}

.dropdown_lyric_button:hover {
    background-color: #86733c;
}

.lyric_button {
    font-family: Averta;
    width: 100px;
    font-size: 15;
    border: 1;
    border-radius: 5px;
    margin: 5;
    margin-top: auto;
}

.song_media {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5;
}

.spotify {
    margin: 5;
}

.apple {
    margin: 5;
}

.video_button {
    font-family: Averta;
    font-size: 15;
    border: 1;
    border-radius: 5px;
    margin: 5;
    margin-top: auto;
}

.music_video {
    margin-bottom: 20px;
    display: none;
}

#karhukolari_i {
    background-color: #755a10;
}

#sinun_kanssasi {
    background-color: black;
}

#sinun_kanssasi_name {
    color: white;
}

#sinun_kanssasi_year {
    color: #989b9b;
}

#sinun_kanssasi_lyricbutton {
    color: #badee2;
    background-color: black;
}

#aia {
    background-color: rgb(107, 61, 107);
}

#aia_name {
    color: white;
}

#aia_year {
    color: #989b9b;
}

#aia_lyricbutton {
    color: #badee2;
    background-color: rgb(107, 61, 107);
}

#jenkki {
    background-color: #6d6b69;
}

#jenkki_name {
    color: white;
}

#jenkki_year {
    color: #d6d4d1;
}

#jenkki_lyricbutton {
    color: #badee2;
    background-color: 6d6b69;
}

#rausku {
    background-color: black;
}

#rausku_name {
    color: white;
}

#rausku_year {
    color: #989b9b;
}

#rausku_lyricbutton {
    color: #badee2;
    background-color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.lyric_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17;
}

/* KEIKAT */

#shows_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 26px;
}

#upcoming_txt {
    color: black;
    font-family: Averta;
    margin-top: 0;
}

.show {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 600px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.date {
    font-family: Averta;
    color: black;
    font-size: 18;
    padding: 0 20;
    width: 12%;
}

.divider {
    height: 25px;
    border-left: 2px solid grey;
}

.place_name {
    font-family: Averta;
    color: lightseagreen;
    font-size: 18;
    margin: 0 auto;
}

.place_name_unlicked {
    font-family: Averta;
    color: black;
    font-size: 18;
    margin: 0 auto;
}

.fee {
    font-family: Averta;
    color: dimgray;
    font-size: 15;
    padding: 0 20;
    width: 30%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;

    width: 600px;
    border-radius: 20px;
    margin-top: 15px;
    border-block-end-width: 2px;
    border-color: black;

    font-size: 25px;
    font-family: Averta;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #e6e6e6;
}

/* Style the collapsible content. Note: hidden by default */
#coll_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

#julkke_pic {
    margin-top: 15px;
}

.coll_text {
    font-family: Averta;
    font-size: 17;
}

/* YHTEYSTIEDOT */

#info_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 26px;
}

#info_label {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 5px;
    border-radius: 20px;

    height: 200px;
    width: 700px;
}

.info_text {
    font-family: Averta;
    font-size: 18;
    margin: 0 auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}